{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
  <section class="bp-welcome">
    <div class="bp-welcome__verson-wrapper">
      <span class="bp-welcome__version">alpha</span>
    </div>
    <h1 class="bp-welcome__headline">
      Nunjucks Async
    </h1>
    <div class="bp-welcome__area">
      <h2>Test Case 1</h2>
      <p>
        <a href="/test-case-1">Render ASYNC component in custom SYNC tag</a><br>
        The custom tag is just a simple HTML wrapper, the async component is rendered inside the
        body of the tag.
      </p>

      <h2>Test Case 2</h2>
      <p>
        <a href="/test-case-2"> Render ASYNC component in custom ASYNC tag</a><br>
        The custom tag is just a simple HTML wrapper, the async component is rendered inside the
        body of the tag.
      </p>


      <h2>Test Case 3</h2>
      <p>
        <a href="/test-case-3">Render WIDGET in custom SYNC tag</a><br>
        You need to login as admin and insert content on that page.
        The custom tag is just a simple HTML wrapper, the widget is rendered inside the
        body of the tag.
      </p>

      <h2>Test Case 4</h2>
      <p>
        <a href="/test-case-4">Render WIDGET in custom ASYNC tag</a><br>
        You need to login as admin and insert content on that page.
        The custom tag is just a simple HTML wrapper, the widget is rendered inside the
        body of the tag.
      </p>

      <h2>Test Case 5</h2>
      <p>
        <a href="/test-case-5">Various edge cases</a><br>
        Test how async components play with various nunjucks advanced techniques.
      </p>
    </div>
  </section>
{% endblock %}
