{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
  <section class="bp-welcome">
    <h1 class="bp-welcome__headline">
      {{ data.page.title }}
    </h1>
    <div class="bp-welcome__area">
      <h2>Render ASYNC components in async loop (performance)</h2>
      <p>
        Test performance of rendering async components in a <code>asyncEach</code> loop.
      </p>
      <p>
        Template: <code>modules/test-case-6/views/page.html</code><br>
        Component: <code>modules/test-case/index.js</code><br>
        Async Tags: <code>modules/test-case/lib/async-tags.js</code><br>
        Client test: <code>src/index.js</code>
      </p>

      {# see views/layout.html #}
      <h3 id="render-time">n\a</h3>

      <p>
        <em>Note: we use `asyncEach` loop here to render async tag with more async tags in its body.</em><br>
        The custom tag <code>waitAsync</code> is waiting the number of seconds we provide.
        We loop 3 times and wait 3 * 1 seconds each. Beside of the render time above, keep an eye at the server console logs
        while the page is loading.
      </p>
      {% asyncEach i in range(0, 3) %}
        <div class="test-case">
          {% containerAsync %}
            {% waitAsync 1 %}
            {% waitAsync 1 %}
            {% waitAsync 1 %}
          {% endcontainerAsync %}
        </div>
      {% endeach %}
    </div>
  </section>
{% endblock %}
