.test-case {
  max-width: 500px;
  min-height: 200px;
  margin: 1em auto;
  border: 1px solid $color-gold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // &__result {
  // }

  &--fail,
  &--pass {
    color: white;
  }

  &--fail {
    background-color: rgb(255, 0, 98);
  }

  &--pass {
    background-color: rgb(129, 204, 30);
  }
}

i[fail] {
  display: inline-block;
  position: relative;
  padding: 5px;
  background-color: rgb(255, 0, 98);
  color: white;
  margin: 0 5px;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
  &::before {
    content: "fail";
  }
  &::after {
    content: "One or more failed tests";
    padding: 5px;
    display:none;
    position: absolute;
    font-size: small;
    color: black;
    text-transform: none;
    top: -24px;
    left: 0;
    width: 150px;
    text-align: center;
    background-color: #fef4c5;
    border: 1px solid $color-gold;
    border-radius: 2px;
  }
  &:hover:after {
    display: block;
  }
}

i[warn] {
  display: inline-block;
  position: relative;
  padding: 5px;
  background-color: $color-gold;
  color: white;
  margin: 0 5px;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 4px;
  &::before {
    content: "warn";
  }
  &::after {
    content: "Performance or another kind of warning";
    padding: 5px;
    display:none;
    position: absolute;
    font-size: small;
    color: black;
    text-transform: none;
    top: -24px;
    left: 0;
    width: 300px;
    text-align: center;
    background-color: #fef4c5;
    border: 1px solid $color-gold;
    border-radius: 2px;
  }
  &:hover:after {
    display: block;
  }
}